body {
    text-align: center;
    padding: 50px;
  }
  
  .field {
    display: inline-block;
    min-width: 100px;
    margin: 15px;
    padding: 15px;
    border-radius: 50%;
    border: 2px solid #0f2dec;
    background: #c5c7d6;
  }
  
  
  .label {
    color: #b82020;
    display: block;
    margin-top: 15px;
    font-size: 20px;
    font-weight: 500;
  }

  .timer {
    margin: 0 auto;
    width: 500px;
    font-size: 50px;
    padding: 20px;
    width: 500px;
    color: rgb(96, 194, 224);
  }
  